* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* ProductComponent.js */
.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #ffffff;
  margin: auto;
}

.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

/* Header.js */
.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

/* ProductDetail.js && ProductListing.js */
.ui.grid.container {
  margin-top: 45px;
}

.ui.grid > .row {
  background: #fff;
}

.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}

.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before {
  display: none;
}

.ui.label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}

.column.rp p {
  font-size: 18px;
  color: #777;
}

.ui.placeholder.segment .column .button {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}
